* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

html {
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333333;
}

p {
  margin: 0;
}

.heading {
  font-weight: 400;
  font-size: 48px;
  line-height: 58.51px;
  margin: 0;
}

.small-heading {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 29.26px;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

.btn {
  padding: 20px 37px;
  background-color: #FF9900;
  color: #fff;
  border: none;
  transition: background-color 300ms linear;
}

.btn:hover {
  background-color: rgba(255, 153, 0, 0.7);
}

.btn:active {
  background-color: #E1670E;
}

.container {
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 75px;
  padding-right: 75px;
  display: flex;
  flex-direction: column;
  /*background-color: #FFF;*/
}

/*HEADER*/

header {
  height: 100px;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 14px;
  padding-bottom: 14px;
  background-color: #FFF;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.1);
}

.burger {
  display: none;
}

.menu {
  display: none;
}

.header__logo {
  max-width: 224px;
  max-height: 72px;
  margin-right: auto;
  margin-left: 75px;
}

.header__logo__320 {
  display: none;
}

.header__logo__768 {
  display: none;
}

.header__logo__1024 {
  display: none;
}

.header__list {
  width: 708px;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.header__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 21.94px;
  transition: border-bottom 300ms linear, color 300ms linear, border 300ms linear;
}

.header__list-item:not(:last-child) {
  margin-right: auto;
}

.header__link:hover {
  outline: 2px solid #FF9900;
}

.header__link:active {
  color: #E1670E;
  border-bottom: 2px solid #E1670E;
}

.header__link:focus {
  border: 2px solid #FF9900;
}

.header__list-item:focus {
  border: 2px solid #FF9900;
  margin-right: 81px;
}

.header__search {
  margin-left: 85px;
  margin-right: 75px;
}

/*HERO*/

.hero {
  max-height: 470px;
  position: absolute;
  z-index: 2;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  /*left: 155px;*/
  /*background-image: url("../img/balcony.jpg");
  background-repeat: no-repeat;*/
}

.hero__background-img {
  max-width: 100%;  
  min-height: 620px;
}

.hero__background-img.first {
  max-width: 100%;  
  min-height: 620px;
}

.hero__background-img1024 {
  display: none;
}

.hero__background-img768 {
  display: none;
}

.hero__background-img320 {
  display: none;
}

.swiper {
  width: 100%;
  height: 620px;
  margin-bottom: 100px;
  position: relative;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.4);
  opacity: 2;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin-right: 10px;
  margin-left: 10px;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 30px;
}

.swiper-pagination-bullet-active {
  background-color: #FFF;
}

.hero__heading {
  max-width: 900px;
  margin: 0;
  padding-top: 0;
  padding-left: 80px;
  padding-bottom: 24px;
  font-weight: 800;
  font-size: 70px;
  line-height: 85.33px;
  color: #fff;
}

.hero__text {
  padding-left: 80px;
  padding-bottom: 90px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29.26px;
  color: #FFF;
  max-width: 900px;
}

.hero__btn {  
  padding: 24.83px 36.88px;
  color: #fff;
  font-weight: 700;
  font-size: 23.46px;
  line-height: 28.6px;
  width: 280px;
}

.hero__test {
  margin-left: 80px;
  margin-bottom: 100px;
  margin-right: 0;
  max-width: 400px;
}

/*.hero__btn-link {
  color: #fff;
  font-weight: 700;
  font-size: 23.46px;
  line-height: 28.6px;
}*/

/*ABOUT US*/

.about-us {
  margin-bottom: 100px;
}

.us__heading {
  margin-bottom: 20px;
}

.us__text {
  max-width: 1235px;
  margin-bottom: 50px;
}

.us__content {
  display: flex;
  justify-content: space-between;
  flex:  0 0 50%;
}

.content__card__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content__card__small {
  /*max-width: 870px;*/
  min-height: 295px;
  /*margin-left: 32px;*/
  padding-top: 65px;
  padding-left: 300px;
  background-repeat: no-repeat;
  background-position-x: 60px;
  background-position-y: 65px;
  border: 1px solid #CACACA;
}

.content__card__small:not(:last-child) {
  margin-bottom: 32px;
}

.content__card__small.one {
  background-image: url("../img/Frame16.svg");
}

.content__card__small.two {
  background-image: url("../img/Frame12.svg");
}

.card__small__small-headding {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29.26px;
}


.card__small__text {
  max-width: 450px;
  margin: 0;
  margin-right: 120px;
}

.content__card__large {
  /*width: 862px;*/
  margin-right: 32px;
  min-height: 622px;
  display: flex;
  align-items: flex-end;
  background-image: url("../img/Rectangle2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.card__test {
  display: none;
}

.card__large__info {
  max-width: 868px;
  min-height: 196px;
  padding-right: 50px;
  /*position: relative;
  z-index: 2;*/
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__large__text {
  color: #fff;
  padding: 50px 139px 50px 50px;
  font-weight: 700;
}

.card__large__btn {
  max-width: 175px;
  max-height: 60px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.5px;
  color: #FFF;
  border: 3px solid #FF9900;
  background-color: transparent;
  transition: background-color 300ms linear;
}

.card__large__btn:hover {
  background-color: #FF9900;
}

.card__large__btn:active {
  background-color: #E1670E;
  border: none;
}

/*HOW WE WORK*/

.how-we-work {
  margin-bottom: 100px;
}

.work__heading {
  margin-bottom: 53px;
}

.work__small-heading {
  margin: 0;
  margin-bottom: 10px;
}

.work__list {
  margin-bottom: 47px;
  display: flex;
  padding: 0;
}

.work__list-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.94px;
  color: #333333;
}

.work__list-item:not(:last-child) {
  padding-right: 85px;
}

.work__list-item__link {
  border: none;
  background-color: transparent;
  transition: color 300ms linear, border 300ms linear;
}

.work__list-item__link:hover {
  color: #FF9900;
}

.work__list-item__link:focus {
  outline: 1px solid #FF9900;
}

/*.work__list-item__link:active {
  color: #E1670E;
}*/
.active-now {
  color: #E1670E;
}

.work__content {
  display: none;
}

.tab-content-active {
  display: flex;
  max-width: 1770px;
}

.work__content-info {
  display: flex;
  flex-direction: column;
}

.work__img {
  max-width: 870px;
  height: 460px;
  margin-top: 8px;
}

.work__img__1024 {
  display: none;
}

.work__img__768 {
  display: none;
}

.work__text {
  max-width: 758px;
  margin-right: 142px;
  margin-bottom: 50px;
}

.work__buttons {
  display: flex;
}

.work__btn {
  height: 60px;
  color: #FFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.5px;
  margin-right: 32px;
}

.work__btn:not(:last-child) {
  margin-right: 32px;
}

.work__btn.license {
  color: #333333;
  font-weight: 400;
  background-color: transparent;
  border: 1px solid #333333;
}

.work__btn.license:hover {
  background-color: #666666;
  color: #FFF;
}

.work__btn.license:focus {
  background-color: #666666;
  color: #FFF;
}

.work__btn.license:active {
  background-color: #000000;
  color: #FFF;
}

/*FAQ*/

.faq {
  padding-bottom: 100px;
}

.faq__heading {
  margin-bottom: 43px;
}

.faq_small-heading {
  display: flex;
  border: none;
  outline: none;
}

.faq__plus {
  margin-left: auto;
  width: 50px;
  height: 50px;
  transition: transform 300ms linear;
  flex-shrink: 0;
  border: none;
  outline: none;
}

.faq__text {
  display: block;
  height: auto;
  max-width: 1003px;
  padding-bottom: 40px;
}

.faq__list {
  margin: 0;
  padding: 0;
}

.ui-accordion-header {
  position: relative;
  padding-top: 39px;
  padding-bottom: 30px;
  padding-right: 0;
  /*border-top: 1px solid #CACACA;*/
  /*background-image: url("../img/х.svg");*/
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 30px;
  transition: border-top-color 300ms linear, border-botom-color 300ms linear, background-image 300ms linear;
}

.faq__list-item {
  border-top: 1px solid #CACACA;
}

.faq__list-item:last-child {
  border-bottom: 1px solid #CACACA;
}

.faq__list-item:hover {
  border-top: 1px solid #FF9900;
  border-bottom: 1px solid #FF9900;
  color: #FF9900;
}

.faq__list-item:hover + .faq__list-item {
  border-top: none;
}

.faq__list-item:hover ellipse {
  fill: #FF9900;
}

.faq__list-item:hover path {
  fill: #FFFFFF;
}

.ui-accordion-header-active .faq__plus {
  transform: rotate(45deg);
}

/*.ui-accordion-header-active {  
  border-top: 1px solid #FF9900;
  color: #FF9900;
}

.ui-accordion-content-active {
  border-bottom: 1px solid #FF9900;
}*/

.opened {
  border-top: 1px solid #FF9900;
  border-bottom: 1px solid #FF9900;
  color: #FF9900;
}

.opened + .faq__list-item {
  border-top: none;
}

/*.ui-accordion-header::after {
  content: "";
  position: absolute;
  left: 1720px;
  top: 30px;
  width: 100%;
  height: 100%;
  background: url("../img/х.svg");
  background-repeat: no-repeat;
}

.ui-accordion-header:hover::after {
  background: url("../img/+х.svg");
  background-repeat: no-repeat;
  transition: background 300ms linear;
}

.ui-accordion-header:active::after {
  background: url("../img/х.svg");
  background-repeat: no-repeat;
  transform: -45deg;
}*/


/*.faq__list-item:last-child {
  border-top: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;
}

.faq__list-item:hover {
  border-top: 1px solid #FF9900;
  border-bottom: 1px solid #FF9900;
  background-image: url("../img/+х.svg");
}

.faq__list-item:hover + .faq__list-item {
  border-top: none;
}

.faq__list-item:hover .faq__link {
  color: #FF9900;
}

.faq__list-item:active {
  background-image: url("../img/xx.svg");
  border-top: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;
}

.faq__list-item:active .faq__link {
  color: #333333;
}

.faq__link {
  transition: color 300ms linear;
}*/

.faq_small-heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

/*FOOTER*/

.footer {
  max-width: 1920px;
  padding: 50px 75px;
  margin-left: auto;
  margin-right: auto;
  background-color: #222222;
  display: flex;
  justify-content: center;
  outline: 1px solid black;
}

.links__logo {
  margin-bottom: 17px;
}

.links__logo320 {
  display: none;
}

.links__list {
  margin: 0;
  margin-bottom: 90px;
  margin-right: 350px;
  padding: 0;
  max-width: 252px;
}

.links__list-item {
  transition: border 300ms linear;
}

.links__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: #CACACA;
  transition: color 300ms linear;
}

.links__link:hover {
  color: #FF9900;
}

.links__link:focus {
  color: #CACACA;
  outline: 1px solid #FF9900;
}

.links__link:active {
  color: #E1670E;
  border: none;
}

.form__heading {
  margin-bottom: 25px;
  color: #CACACA;
}

.form__form {
  max-width: 570px;
  display: flex;
  flex-direction: column;
}

.form__accept {
  display: flex;
  align-content: center;
}

.form__checkbox {
  display: flex;
  align-items: center;
  position: relative;
}

.form__data {
  margin-bottom: 25px;
  padding-left: 24px;
  height: 60px;
  background-color: #414141;
  border: none;
  color: #FFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  transition: background-color 300ms linear ;
}

.form__data:hover {
  background-color: #666666;
}

.form__data:active {
  background-color: #666666;
  border: none;
  color: #FFF;
}
.form__data:focus {
  background-color: #666666;
  border: none;
}

::placeholder {
  color: #CACACA;
}

.form__data.form__data__space {
  height: 150px;
  padding-top: 14px;
  resize: none;
}

.form__data:nth-child(3n) {
  margin-bottom: 32px;
}

.form__btn {
  margin-right: 22px;
  max-width: 269px;
  color: #FFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.5px;
}

.form__btn__link {
  color: #FFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.5px;
}

.form__label {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
}

.form__label:focus {
  outline: 1px solid #FF9900;
}

.footer__text {
  margin-top: 87px;
  margin-left: 236px;
  max-width: 363px;
  height: 320px;
  color: #CACACA;
}

.links__social {
  display: flex;
}

.links__social-links {
  margin-right: 15px;
  max-width: 70px;
  height: 70px;
  display: block;
}

path {
  transition: fill 300ms linear;
}

.links__social-links:hover path {
  fill: #FF9900;
}

.links__social-links:focus {
  outline: 1px solid #FF9900;
  fill: #7C7C7C;
}

.links__social-links:active path {
  fill: #E1670E;
}

.links__social-links:active {
  border: none;
}

.form__box {
  position: absolute;
  opacity: 0;
}

.form__box+.form__label {
  display: flex;
  align-items: center;
}

.form__label::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid #CACACA;
  margin-right: 3px;
}

.form__box:checked+.form__label::before {
  background-image: url("../img/Rectangle44.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@media (max-width:1700px) {
  .footer__text {
    margin-left: 50px;
    margin-top: 40;
  }

  .links__list {
    margin-right: 50px;
  }

  .work__text {
    margin-right: 20px;
  }

  .work__img {
    max-width: 600px;
  }

  .card__small__text {
    margin-right: 20px;
  }

  .card__large__text {
    padding-right: 20px;
  }

  .content__card__small {
    padding-top: 20px;
    padding-left: 200px;
    padding-right: 20px;    
    background-position-x: 50px;
  }

  .content__card__small.one {
    background-image: url("../img/decor768-1.svg");
  }

  .content__card__small.two {
    background-image: url("../img/decor768-2.svg");
  }
}

@media (max-width:1310px) {
  text {
    font-size: 18px;
    line-height: 21.94px;
  }

  .container {
    max-width: 1310px;
    min-width: 1000px;
    margin-right: 50px;
    margin-left: 50px;
    padding: 0;
    /*padding-left: 50px;
    padding-right: 50px;*/
  }

  .menu {
    padding-top: 162px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    z-index: 10;
    width: 420px;
    height: 720px;
    background-color: #FFF;
    transform: translateX(-421px);
    transition: transform 300ms linear;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .menu__list {
    margin: 0;
    padding-left: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 29.26px;
  }

  .menu__list-item:not(:last-child) {
    margin-bottom: 60px;
  }

  .is-active {
    transform: none;
  }

  .close {
    margin-bottom: 100px;
  }

  .header__logo {
    display: none;
  }

  .header__logo__320 {
    display: none;
  }

  .header__logo__768 {
    display: none;
  }

  .header__logo__1024 {
    display: block;
  }

  .header {
    max-width: 1310px;
    min-width: 1100px;
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 0;
    margin-top: 0;
    justify-content: space-between;
  }

  .header__nav {
    display: none;
  }

  .burger {
    z-index: 20;
    width: 40px;
    display: inline-block;
    margin-left: 50px;
    margin-right: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-shrink: 0;
    padding: 0;
  }
  .line {
    fill: none;
    stroke: black;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }

  .header__search {
    margin-right: 52px;
    margin-left: auto;
  }

  .hero {
    padding: 0;
    padding-left: 77px;
    max-height: 450px;
    /*background-image: url("../img/balcony1024.jpg");
    background-size: cover;    
    position: unset;*/
    z-index: 2;
    top: 260px;
  }

  .swiper {
    margin-bottom: 80px;
  }

  .hero__background-img.first {
    display: none;
  }

  .hero__background-img {
    height: 668px;
  }
  
  .hero__background-img1024 {
    display: block;
    height: 668px;
    width: 100%;
  }
  
  .hero__background-img768 {
    display: none;
  }
  
  .hero__background-img320 {
    display: none;
  }
  
  .hero__heading {
    padding: 0;
    max-width: 770px;
    font-size: 60px;
    line-height: 73.14px;
    padding-bottom: 16px;
  }
  .hero__text {
    padding: 0;
    max-width: 660px;
    padding-bottom: 60px;
    font-size: 20px;
    line-height: 24.38px;
  }
  .hero__btn {
    margin: 0;
  }

  .hero__test {
    margin: 0;
  }

  .about-us {
    margin-bottom: 80px;
  }

  .us__heading {
    margin-bottom: 10px;
  }

  .us__text {
    margin-bottom: 62px;
  }

  .us__content {
    flex-direction: column;
  }

  .content__card__large {
    min-height: 640px;
    margin: 0;
    margin-bottom: 32px;
    background-size: cover;
  }

  .content__card__small {
    padding-left: 319px;
    padding-top: 65px;
    padding-right: 0;
    background-position-x: 75px;
  }

  .content__card__small.one {
    background-image: url("../img/Frame16.svg");
  }

  .content__card__small.two {
    background-image: url("../img/Frame12.svg");
  }

  .card__small__text {
    margin-right: 0;
  }

  .card__large__info {
    max-width: 1310px;
    padding: 0;
  }

  .card__large__btn {
    margin-right: 50px;
  }

  .card__large__text {
    padding-right: 195px;
  }

  .how-we-work {
    margin-bottom: 80px;
  }

  .work__img {
    display: none;
  }

  .work__img__1024 {
    display: block;
  }

  .work__img__768 {
    display: none;
  }

  .tab-content-active {
    max-width: 1310px;
  }

  .work__img-tab {
    max-width: 437px;
  }

  .work__text {
    margin-bottom: 25px;
    margin-right: 50px;
  }

  .work__list {
    margin-bottom: 52px;
  }

  .faq {
    margin-bottom: 80px;
    padding: 0;
  }

  .faq__heading {
    margin-bottom: 32px;
  }

  .faq__list-item {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .faq_small-heading {
    font-size: 20px;
    line-height: 32px;
    max-width: auto;
  }

  .footer {
    padding: 50px;
    margin-left: 0;
    max-width: 1310px;
    min-width: 1100px;
  }

  .links__list {
    max-width: 251px;
    margin-right: 131px;
  }

  .footer__text {
    display: none;
  }

  .links__social-links {
    height: 60px;
    margin-right: 25px;
  }
}


@media (max-width:825px) {
  .hero {
    top: 180px;
  }
}

@media (max-width: 768px) {

  .container {
    min-width: 550px;
  }

  .header {
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
    height: 69px;
    max-width: 768px;
    min-width: 650px;
  }

  .menu {
    width: 420px;
    height: 689px;
    padding-top: 144px;
  }

  .menu__list {
    margin: 0;
  }

  .header__logo__320 {
    display: none;
  }

  .header__logo {
    display: none;
  }

  .header__logo__768 {
    display: block;
  }

  .header__logo__1024 {
    display: none;
  }

  .header__search {
    margin-right: 52px;
    margin-left: auto;
  }

  .swiper {
    margin-bottom: 80px;
  }

  .hero {
    /*background-image: url("../img/balcony768.jpg");*/
    padding: 0;
    padding-right: 20px;
    top: 229px;
    left: 90px;
    max-width: 620px;
    max-height: 0;
    min-height: 342px;
  }

  .hero__background-img.first {
    display: none;
  }

  .hero__background-img {
    height: 662px;
  }
  
  .hero__background-img1024 {
    display: none;
  }
  
  .hero__background-img768 {
    display: block;
    height: 662px;
  }
  
  .hero__background-img320 {
    display: none;
  }

  .hero__heading {
    font-size: 50px;
    line-height: 60.95px;
  }

  .hero__text {
    padding-bottom: 61px;
    font-size: 18px;
    line-height: 21.94px;
  }

  .us__heading {
    margin-bottom: 10px;
  }

  .us__text {
    margin-bottom: 60px;
  }

  .content__card__large {
    max-width: 668px;
    min-height: 650px;
    background-image: url("../img/worker768.jpg");
    background-size: cover;
  }

  .card__large__info {
    min-height: 196px;
    max-width: 668px;
  }

  .card__large__text {
    padding: 34px 47px 34px 40px;
  }

  .card__large__btn {
    margin-right: 40px;
  }

  .content__card__small {
    padding: 35px 44px 35px 170px;
    min-height: 128px;
    background-position-x: 40px;
    background-position-y: 68px;
  }

  .card__small__text {
    margin: 0;
  }

  .content__card__small.one {
    background-image: url("../img/decor768-1.svg");
    margin-bottom: 30px;
  }

  .content__card__small.two {
    background-image: url("../img/decor768-2.svg");
  }

  .card__small__small-headding  {
    max-width: 452px;
  }

  .work__heading {
    margin-bottom: 49px;
  }

  .work__list {
    justify-content: space-between;
    margin-bottom: 50px;
  }

  .work__img__1024 {
    display: none;
  }

  .work__img__768 {
    display: block;
    margin-top: 0;
    margin-bottom: 38px;
  }

  .work__img {
    display: none;
  }

  .work__img-tab {
    max-width: 668px;
    margin-bottom: 38px;
  }

  .work__small-heading {
    margin-bottom: 9px;
  }

  .work__btn {
    padding: 20px 38px;
  }

  /*.work__conent.step-one {
    flex-direction: column-reverse;
  }*/

  .tab-content-active {
    flex-direction: column-reverse;
  }

  .work__text {
    padding: 0;
  }

  .faq {
    margin-bottom: 88px;
  }

  .faq_small-heading {
    max-width: 570px;
  }

  .faq__list-item {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .footer {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    max-width: 768px;
    min-width: 650px;
  }

  .links__list {
    display: none;
  }

  .footer__form {
    margin-bottom: 48px;
  }

  .form__form {
    max-width: 540px;
  }

  .links__logo {
    margin-bottom: 12px;
  }

 .links__social-links {
   margin-right: 25px;
 }

}

@media (max-width:550px) {

  .text {
    font-size: 14px;
    line-height: 28px;
  }

  .container {
    max-width: 550px;
    min-width: 290px;
    padding: 0;
    margin-right: 15px;
    margin-left: 15px;
  }

  .header__search {
    margin-right: 17px;
    margin-left: 66px;
  }

  .burger {
    margin-left: 15px;
    margin-right: 60px;
  }

  .header {
    padding: 0;
    max-width: 550px;
    min-width: 290px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: auto;
  }

  .menu {
    max-width: 320px;
    height: 378px;
    padding-top: 78px;
    padding-left: 15px;
    flex-shrink: 0;
  }

  .close {
    width: 23px;
    flex-shrink: 0;
    margin-bottom: 32px;
  }

  .menu__list {
    font-size: 16px;
    line-height: 19.5px;
  }

  .menu__list-item:not(:last-child) {
    margin-bottom: 32px;
  }

  .header__logo {
    display: none;
  }

  .header__logo__320 {
    width: 110px;
    height: 35px;
    display: block;
  }

  .header__logo__768 {
    display: none;
  }

  .hero {
    max-height: 308px;
    min-height: 0;
    max-width: 580px;
    align-items: center;
    top: 129px;
    left: 37px;
    /*background-image: url("../img/balcony320.jpg");
    background-size: cover;*/
  }

  .swiper {
    height: 308px;
    margin-bottom: 60px;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 15px;
  }

  .hero__background-img.first {
    display: none;
  }

  .hero__background-img {
    height: auto;
    width: 100%;
  }
  
  .hero__background-img1024 {
    display: none;
  }
  
  .hero__background-img768 {
    display: none;
  }
  
  .hero__background-img320 {
    display: block;
    height: auto;
    width: 100%;
  }

  .test {
    align-self: center;
  }

  .hero__heading {
    padding-bottom: 8px;
    max-width: 247px;
    font-size: 20px;
    line-height: 24.38px;
    text-align: center;
  }

  .hero__text {
    padding-bottom: 32px;
    max-width: 247px;
    font-size: 12px;
    line-height: 15.5px;
    text-align: center;
  }

  .btn {
    padding: 11px 14px 14px 15px;
    font-size: 12px;
    line-height: 14.63px;
  }

  .hero__btn {
    padding: 5.83px 22.12px;
    /*margin-left: 43px;*/
    width: 162px;
    height: 40px;
    align-self: center;
  }

  .heading {
    font-size: 24px;
    line-height: 29.26px;
  }

  .about-us {
    margin-bottom: 60px;
  }

  .us__text {
    margin-bottom: 12px;
  }

  .card__large__info {
    padding: 0;
    background-color: transparent;
    flex-direction: column;
  }

  .content__card__large {
    flex-direction: column;
    align-items: stretch;
    min-height: auto;
    width: inherit;
    background-image: none;
  }

  .card__test {
    display: block;
  }

  .card__large__img {
    object-fit: cover;
    max-width: 100%;
  }

  .card__large__text {
    padding: 0;
    color: #333333;
    font-weight: 400;
  }

  .card__large__btn {
    color: #FF9900;
    min-width: 162px;
    padding-bottom: 8px;
  }

  .card__large__text {
    margin-bottom: 8px;
  }

  .card__large__form {
    align-self: flex-start;
  }

  .content__card__small {
    padding: 0;
    padding-top: 61px;
    border: none;
    background-position: top left;
  }

  .content__card__small.one {
    background-image: url("../img/decor320-1.svg");
  }

  .content__card__small.two {
    background-image: url("../img/decor320-2.svg");
  }

  .card__small__small-headding {
    font-weight: 500;
    font-size: 18px;
    line-height: 21.94px;
    margin-bottom: 4px;
  }

  .work__list {
    max-width: 290px;
    margin-bottom: 16px;
  }

  .work__list-item {
    font-size: 14px;
    line-height: 17.07px;
  }

  .work__list-item:not(:last-child) {
    padding-right: 44px;
  }

  .work__img__768 {
    margin-bottom: 16px;
    height: 160px;
  }

  .work__img-tab {
    margin-bottom: 16px;
    height: 160px;
  }

  .work__small-heading {
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
  }

  .work__btn.more {
    width: 162px;
    height: 40px;
    margin-right: 10px;
  }

  .work__btn.license {
    width: 118px;
    height: 40px;
  }

  .how-we-work {
    margin-bottom: 60px;
  }

  .work__heading {
    margin-bottom: 20px;
  }

  .work__list {
    margin-top: 0;
  }

  .work__text {
    max-width: 550px;
    margin-bottom: 16px;
    margin-right: 0;
  }

  .faq__heading {
    margin-bottom: 16px;
  }

  .faq__plus {
    width: 30px;
    height: 30px;
  }

  .faq_small-heading {
    max-width: auto;
    padding: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }

  .faq__list-item {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
  }

  .faq {
    margin-bottom: 60px;
  }

  .footer {
    padding: 32px 15px;
    min-height: 320px;
    max-width: 550px;
    min-width: 290px;
  }

  .form__heading {
    margin-bottom: 20px;
  }

  .footer__form {
    border-bottom: 1px solid #595959;
    margin-bottom: 16px;
    max-width: 290px;
  }

  .form__data {
    margin-bottom: 25px;
    padding-left: 20px;
    font-size: 14px;
  }

  .form__data:nth-child(3n) {
    margin-bottom: 25px;
  }

  .form__accept {
    flex-direction: column;
    align-items: center;
  }

  .form__btn {
    min-width: 180px;
    min-height: 40px;
    text-align: center;
    margin-bottom: 11px;
    margin-left: 20px;
    padding: 12px 28px;
  }

  .form__label {
    padding-bottom: 16px;
  }

  .links__logo {
    display: none;
  }

  .links__logo320 {
    display: block;
    max-width: 130px;
    margin-bottom: 16px;
  }

  .footer__links {
    max-width: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .links__img {
    max-width: 40px;
    max-height: 40px;
  }

  .links__social {
    margin-left: 12px;
  }

  .links__social-links {
    max-height: 40px;
  }
}
